.hero {
  @apply text-center py-20 bg-neutral-100 dark:bg-black dark:text-white;
}
.hero-title {
  @apply text-4xl md:text-6xl font-bold;
}
.hero-image {
  @apply mx-auto mt-14 w-64 md:w-96 will-change-transform;
}
.color-picker {
  @apply flex justify-center gap-6 mt-10;
}
.dot {
  @apply w-6 h-6 rounded-full;
}
.dot.beige { background: #e5d3b3; }
.dot.green { background: #7aa874; }
.dot.red { background: #b94a48; }
